body {
    font-family: 'Major Mono Display', monospace;
    font-size: 16px;
    line-height: 1.2;
    color: #fff;
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a {
    text-decoration: none;
    color: red;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div {
    position: absolute;
    color: red;
    display: flex;
    width: 1000px;
    height: 1000px;
    background-color: rgb(255, 255, 255);
}

div.game {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    width: 700px;
    height: 700px;
    background-color: rgb(179, 179, 179)
}

#game-hud {
    display: none;
    position: absolute;
    height: 100px;
    width: 600px;
    background-color: black;
}


#timer-one {
    /* display: none; */
    position: absolute;
    z-index: 2;
    top: 15px;
    left: 25px;
}

#game-timer {
    /* display: none; */
    position: absolute;
    z-index: 2;
    top: 35px;
    left: 25px;
    color: yellow;
}

#streak-counter {
    position: absolute;
    z-index: 2;
    top: 61px;
    left: 25px;
}


#best-streak-counter {
    position: absolute;
    z-index: 2;
    top: 80px;
    left: 25px;
}

#factor-num {
    text-decoration: underline;
    position: absolute;
    z-index: 2;
    font-size: 24px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%)
    
}

#rando-num {
    position: relative;
    color: yellow;
    font-size: 32px;
    z-index: 2;
    top: 45px;
    /* left: 50%;
    transform: translateX(-50%) */
}

#answers-holder {
    flex-wrap: wrap;
    position: absolute;
    top: 15px;
    right: 25px;
    height: 100px;
    width: 125px;
    background-color: black;
    text-align: center;
}


#answers {
    flex-wrap: wrap;
    position: relative;
    top: 15px;
    right: 25px;
    height: 100px;
    width: 125px;
    background-color: black;
    text-align: center;
}


#answers span {
    margin-right: 5px;
}

/* #a {
    display: inline-block;
    height: 10px;

} */

/* #b {
    color: yellow;
} */

.correct-user-input {
    color: yellow;
}


#choices{
    display: block;
    position: relative;
    z-index: 2;
    color: yellow;
}


div.game-center {
    display: block;
    text-align: center;
    margin-top: 70px;
    background-color: rgb(0, 0, 0);
    width: 600px;
    height: 600px;
}

#inside-game {
    position: absolute;
    /* border: 1px solid red; */
    background-color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    height: auto;
    max-width: 600px;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#inside-game a {
    margin: 5px;
    background-color: yellow;
    height: 20px;
    width: 35px;
}

.game-center p {
    margin-top: 15px;
}

#inputN{
    margin-top: 6px;
    text-align: center;
    width: 65px;
    height: 2rem;
    font-size: 1rem;
}

#show-table {
    margin-top: 41px;
    position: absolute;
    text-align: center;
    height: 25px;
}


#game-messages {
    display: block;
    position: absolute;
    bottom: 65px;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    width: auto;
    background-color: black;
}

#start-game {
    display: none;
    position: absolute;
    top: 15px;
    left: 49px;
    text-align: center;
    height: 25px; 
}

#stop-game {
    display: none;
    position: absolute;
    top: 15px;
    left: 125px;
    text-align: center;
    height: 25px; 
}

#easy {
    display: none;
    position: absolute;
    top: 45px;
    left: 49px;
    text-align: center;
    height: 20px; 
}

#medium {
    display: none;
    position: absolute;
    top: 45px;
    left: 94px;
    text-align: center;
    height: 20px; 
}
#hard {
    display: none;
    position: absolute;
    top: 45px;
    left: 157px;
    text-align: center;
    height: 20px; 
}

.buttonsAppear {
    display: block !important;
}

#game-start-timer {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    width: auto;
    color: yellow;
    font-size: 24px;
    background-color: black;
}

/*
#test-div {
    height: 100px;
    width: auto;
    display: flex;
    position: absolute;
    flex-direction: row;
}

#test-case {
    margin-top: 41px;
    position: absolute;
    text-align: center;
    height: 25px;
    width: 25px;
} */

.numOnBoard {
    opacity: .2;
}

.numOnBoard:hover {
    opacity: 1;
}

