@font-face {
    src: url(./fonts/alarm\ clock.ttf);
    font-family: alarm;
}

@font-face {
    src: url(./fonts/Calculator.ttf);
    font-family: calculator
}

body {
    /* font-family: 'Major Mono Display', monospace; */
    font-family: calculator;
    font-size: 20px;
    line-height: 1.2;
    color: #fff;
   /*  background: linear-gradient(
        to bottom,
        rgb(226, 226, 226), 
        rgb(129, 129, 129)
      );  */
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    text-shadow: 0px 0px 15px #ff005b;
}

header {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}

a {
    text-decoration: none;
    color: red;
}

section {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    height: 100%;
}

div {
    position: absolute;
    color: red;
    display: flex;
    width: 1000px;
    height: 1000px;
    background-color: rgb(255, 255, 255);
}

.left-button-container {
    display: none;
    z-index: 4;
    top: 0px;
    left: -15px;
    position: absolute;
    width: 200px;
    height: 70px;
    background-color: transparent;
}

.right-button-container {
    z-index: 4;
    right: -15px;
    position: absolute;
    width: 200px;
    height: 70px;
    background-color: transparent;
}

.bottom-button-container {
    position: absolute;
    bottom: 7.5%;
    z-index: 4;
}

div.game {
    display: flex;
    /* position: relative; */
    flex-direction: row;
    justify-content: center;
    width: 625px;
    height: 700px;
    border-radius: 40px;
    background-color: transparent;  
}

.hide-game {
    z-index: 1;
    transform: translateX(-100%);
}

.show-fly-out {
    transform: translateX(0%);
    z-index: 4;
}

.grain {
    z-index: 3; 
    position: absolute;
    border-radius: 7%;
    box-shadow: 0 3.9px 4.9px rgba(0, 0, 0, 2.336);
}

.cover {
    z-index: 2;
    position: absolute;
    max-width: 310%;
}

.game-center {
    position: absolute;
    top: 75px;
    display: block;
    text-align: center;
    background-color: rgb(0, 0, 0);
    width: 602px;
    height: 575px;
    transition: all .2s ease-in-out;
}

#inputN {
    display: none;
    z-index: 4;
    margin-top: 19px;
    text-align: center;
    width: 65px;
    height: 2rem;
    font-size: 1rem;
}

#instructions:focus{
    outline:0;
}

#instructions {
    top: 23px;
    right: 50px;
    position: absolute;
    text-align: center;
    border-radius: 100%;
    width: 25px;
    height: 25px;
}

#load-game {
    bottom: -40px;
    position: absolute;
    text-align: center;
    width: 80px;
    height: 22px;
    transform: translateX(-50%)
}

#easy {
    /* display: none; */
    position: absolute;
    top: 45px;
    left: 49px;
    text-align: center;
    height: 20px; 
}

#medium {
    /* display: none; */
    position: absolute;
    top: 45px;
    left: 94px;
    text-align: center;
    height: 20px; 
}

#hard {
    /* display: none; */
    position: absolute;
    top: 45px;
    left: 157px;
    text-align: center;
    height: 20px; 
}

#start-game {
    /* display: none; */
    position: absolute;
    top: 21px;
    left: 49px;
    text-align: center;
    height: 21px; 
}

#stop-game {
    /* display: none; */
    position: absolute;
    top: 21px;
    left: 125px;
    text-align: center;
    height: 21px; 
}

.flyout-menu { 
    position: absolute;
    display: flex;
    opacity: 1;
    transform: translateX(100%);
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 602px;
    height: 575px;
    transition: all 1s ease-in-out;
}

.flyout-menu-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translateY(-20%);
    text-align: center;
    width: 800px;
    height: auto;
    background-color: transparent;
}

.flyout-menu-wrapper p {
    margin-top: 20px;
    color: red;
}

.flyout-menu-wrapper h1 {
    font-size: 25px;
    color: #009c0d;
    text-shadow: 0px 0px 15px #00ff00;
}

.flyout-menu-wrapper ul {
    position: relative;
    width: 500px;
    left: 20%;
    text-align: left;
    list-style-type: circle;
    text-shadow: 0px 0px 15px #e5ff00;
    color: yellow;
}

.flyout-menu-wrapper li {
    margin-top: 10px;
}

.game-hud {
    display: none;
    position: absolute;
    height: 100px;
    width: 600px;
    background-color: black;
}

#timer-one { 
    position: absolute;
    top: 15px;
    left: 25px;
}

#game-timer {
    position: absolute;
    top: 35px;
    left: 25px;
    color: yellow;
}

#streak-counter {
    position: absolute;
    top: 61px;
    left: 25px;
}

#best-streak-counter {
    position: absolute;
    top: 80px;
    left: 25px;
}

#factor-num {
    text-decoration: underline;
    position: absolute;
    font-size: 24px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);  
}

#rando-num {
    position: relative;
    color: green;
    text-shadow: 0px 0px 15px #00ff00;
    font-size: 32px;
    top: 45px;
}

#answers {
    flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    top: 0;
    right: 25px;
    height: 100px;
    width: 125px;
    background-color: black;
}

#answers span {
    font-size: 18px;
    transform: translateY(-50%);
}

#answers p {
    width: 100%;
    height: 20px;
}

.correct-user-input {
    color: yellow;
    margin-right: 5px;
}

.wrong-user-input {
    color: red;
    margin-right: 6px;
}

#choices {
    display: block;
    position: relative;
    color: yellow;
}

.gameTitleHolder {
    display: block;
    text-align: center;
    z-index: 5;
    font-size: 18px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    top: 30%;
    left: 50%;
    height: auto;
    max-width: 558px;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.gameTitleHolder span {
    display: block;
}

.gameTitle {
    color: green;
    text-shadow: 0px 0px 15px #00ff00;
    font-size: 48px;
}

.inside-game {
    z-index: 4;
    font-size: 18px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    top: 52%;
    left: 50%;
    height: auto;
    max-width: 598px;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: all .5s;
}

.game-center p {
    margin-top: 15px;
}

#game-messages {
    display: block;
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    width: auto;
    background-color: black;
}

#game-start-timer {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    width: auto;
    color: yellow;
    font-size: 24px;
    background-color: black;
}

.numOnBoard {
    opacity: .2;
    margin: 5px;
    background-color: yellow;
    height: 20px;
    width: 35px;
    transition: all .2s;
}

.numOnBoard:hover {
    opacity: 1;
    background-color: red;
    color: yellow;
} 

.blurry-text {
    color: transparent;
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.9);
}




